@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  background: #1B2330;
}
* body .big__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 90px;
}
* body .big__container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
* body .big__container nav .svg img {
  width: 176px;
  height: 52px;
}
* body .big__container nav .navigation {
  display: flex;
  -moz-column-gap: 57px;
       column-gap: 57px;
}
* body .big__container nav .navigation a {
  color: #FFF;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
* body .big__container nav .navigation a:hover {
  color: #FFF;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  text-decoration-line: underline;
}
* body .big__container header {
  display: flex;
  flex-direction: column;
  row-gap: 33px;
  margin: 75px auto;
  max-width: 734px;
  padding-left: 20px;
  padding-right: 20px;
}
* body .big__container header .header_bg {
  background: url(../img/illustration_1-01.svg), #1B2330 0px 0px/100% 100% no-repeat;
  width: 100%;
  max-width: 734px;
  background-repeat: no-repeat;
  height: 534px;
}
* body .big__container header h1 {
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px; /* 150% */
}
* body .big__container header p {
  color: #FFF;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  max-width: 589px;
  margin: 0 auto;
}
* body .big__container header a {
  margin: 0 auto;
  text-decoration: none;
}
* body .big__container header a button {
  width: 280px;
  height: 56px;
  padding: 19px 95px;
  background: linear-gradient(138deg, #63E1D9 -49.34%, #34A0CD 100%);
  background: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.16));
  border: none;
  border-radius: 140px;
  color: #FFF;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
* body .big__container header a button:hover {
  background: #8ADAE3;
  background: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.16));
}
* body .big__container main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1330px;
  padding-left: 20px;
  padding-right: 20xp;
}
* body .big__container main .min_cards {
  width: 100%;
  max-width: 880px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 140px;
       column-gap: 140px;
  row-gap: 79px;
}
* body .big__container main .min_cards .mobile-card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
* body .big__container main .min_cards .mobile-card .min-svg {
  margin: 0 auto;
}
* body .big__container main .min_cards .mobile-card h3 {
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
}
* body .big__container main .min_cards .mobile-card p {
  margin-top: 8px;
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  max-width: 349px;
}
* body .big__container main .min_cards .mobile-card .first {
  max-width: 384px;
}
* body .big__container main .produse_part {
  margin-top: 137px;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 10xp;
       column-gap: 10xp;
  align-items: center;
}
* body .big__container main .produse_part .left-produse {
  background: url(../img/bg.svg), #1B2330 0px 0px/100% 100% no-repeat;
  width: 615px;
  height: 463px;
  background-repeat: no-repeat;
}
* body .big__container main .produse_part .right-produse {
  display: flex;
  flex-direction: column;
}
* body .big__container main .produse_part .right-produse h3 {
  color: #FFF;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px; /* 125% */
  max-width: 406px;
}
* body .big__container main .produse_part .right-produse .product {
  margin-top: 19px;
  color: #FFF;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  max-width: 563px;
}
* body .big__container main .produse_part .right-produse .both {
  display: flex;
  flex-direction: column;
  max-width: 175px;
  justify-content: center;
}
* body .big__container main .produse_part .right-produse .both:hover {
  cursor: pointer;
}
* body .big__container main .produse_part .right-produse .both:hover .a_tags {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin-top: 24px;
  margin-bottom: 4px;
}
* body .big__container main .produse_part .right-produse .both:hover .a_tags a {
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: none;
}
* body .big__container main .produse_part .right-produse .both:hover .a_tags .svg {
  background-image: url(../img/Group\ 10.svg);
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
}
* body .big__container main .produse_part .right-produse .both:hover .a_line {
  width: 166px;
  height: 1px;
  background: #fff;
}
* body .big__container main .produse_part .right-produse .both .a_tags {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin-top: 24px;
  margin-bottom: 4px;
}
* body .big__container main .produse_part .right-produse .both .a_tags a {
  color: #62E0D9;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: none;
}
* body .big__container main .produse_part .right-produse .both .a_tags .svg {
  background-image: url(../img/strelka.svg);
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
}
* body .big__container main .produse_part .right-produse .both .a_line {
  width: 166px;
  height: 1px;
  background: #62E0D9;
}
* body .big__container main .bg {
  margin-top: 120px;
  width: 90%;
}
* body .big__container main .bg .bg-card {
  background-image: url(../img/“\ copy.svg);
  width: 55px;
  height: 40px;
  background-position: left;
}
* body .big__container main .cards {
  transform: translatey(-130px);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1160px;
  margin-top: 120px;
}
* body .big__container main .cards .card {
  max-width: 360px;
  height: 200px;
  border-radius: 3.933px;
  background: #202A3C;
  box-shadow: 5px 5px 8px 4px rgba(56, 56, 56, 0.1);
  padding: 40px 24px 26px 25px;
}
* body .big__container main .cards .card p {
  color: #FFF;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px; /* 150% */
  letter-spacing: 0.5px;
}
* body .big__container main .cards .card .direction-bg {
  margin-top: 24px;
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
* body .big__container main .cards .card .direction-bg .ps {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
* body .big__container main .cards .card .direction-bg .ps p {
  color: #FFF;
  font-family: Open Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 120% */
  letter-spacing: 0.5px;
}
* body .big__container main .cards .card .direction-bg .ps .seo {
  color: #FFF;
  font-family: Open Sans;
  font-size: 7px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px; /* 142.857% */
  letter-spacing: 0.5px;
}
* body .big__container main .input_card {
  margin: 0 auto;
  width: 100%;
  max-width: 863px;
  border-radius: 9px;
  background: #1B2330;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.25);
  padding-top: 42px;
  padding-bottom: 41px;
  padding-left: 20px;
  padding-right: 20px;
}
* body .big__container main .input_card h3 {
  text-align: center;
  color: #FFF;
  font-family: Raleway;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}
* body .big__container main .input_card p {
  margin: 16px auto;
  max-width: 673px;
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
* body .big__container main .input_card .input_btn {
  display: flex;
  margin: 38px auto;
  max-width: 719px;
  justify-content: space-between;
}
* body .big__container main .input_card .input_btn input {
  width: 100%;
  max-width: 480px;
  height: 48px;
  padding-left: 38px;
  background: #FFF;
  background: drop-shadow(2px 3px 6px rgba(7, 4, 59, 0.16));
  border-radius: 50px;
}
* body .big__container main .input_card .input_btn a {
  text-decoration: none;
}
* body .big__container main .input_card .input_btn a button {
  cursor: pointer;
  border: none;
  width: 200px;
  height: 48px;
  border-radius: 50px;
  background: linear-gradient(130deg, #63E1D9 -26.63%, #34A0CD 100%);
  background: drop-shadow(2px 3px 6px rgba(7, 4, 59, 0.16));
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 700;
}
* body .big__container main .input_card .input_btn a button:hover {
  background: #8ADAE3;
  background: drop-shadow(2px 3px 6px rgba(7, 4, 59, 0.16));
}
* body .container {
  margin-top: -160px;
  width: 100%;
  background: #0B1524;
  padding-top: 169px;
  padding-bottom: 53px;
}
* body .container footer {
  width: 100%;
  max-width: 1440px;
  margin: 53px auto;
}
* body .container footer svg {
  margin-bottom: 52px;
}
* body .container footer .footer_navigation {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
* body .container footer .footer_navigation .location {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
* body .container footer .footer_navigation .location img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
* body .container footer .footer_navigation .location p {
  max-width: 339px;
  color: #FFF;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
* body .container footer .footer_navigation .mail-call {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: flex-start;
}
* body .container footer .footer_navigation .mail-call .call {
  display: flex;
  -moz-column-gap: 23.5px;
       column-gap: 23.5px;
}
* body .container footer .footer_navigation .mail-call .call p {
  height: 21px;
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
* body .container footer .footer_navigation .ul_tags {
  display: flex;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
* body .container footer .footer_navigation .ul_tags ul {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
* body .container footer .footer_navigation .ul_tags ul li {
  list-style-type: none;
}
* body .container footer .footer_navigation .ul_tags ul li a {
  text-decoration: none;
  color: #FFF;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
}
* body .container footer .footer_navigation .ul_tags ul li a:hover {
  color: #FFF;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
}
* body .container footer .footer_navigation .bg-nav {
  display: flex;
  -moz-column-gap: 12.49px;
       column-gap: 12.49px;
}
* body .container footer .footer_navigation .bg-nav .first-bg {
  width: 31.224px;
  height: 31px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid #DFE4F0;
}
* body .container footer .footer_navigation .bg-nav .first-bg:hover {
  border: 1px solid #62E0D9;
}
* body .container footer .footer_navigation .bg-nav .first-bg .first {
  background-image: url(../img/Object.png);
  width: 30.025px;
  height: 30.725px;
  flex-shrink: 0;
}
* body .container footer .footer_navigation .bg-nav .first-bg .first:hover {
  background-image: url(../img/copy1.svg);
}
* body .container footer .footer_navigation .bg-nav .first-bg .seecond {
  background-image: url(../img/Object3.svg);
  width: 30.025px;
  height: 30.725px;
  flex-shrink: 0;
}
* body .container footer .footer_navigation .bg-nav .first-bg .seecond:hover {
  background-image: url(../img/copy2.svg);
}
* body .container footer .footer_navigation .bg-nav .first-bg .third {
  background-image: url(../img/Object2.svg);
  width: 30.025px;
  height: 30.725px;
  flex-shrink: 0;
}
* body .container footer .footer_navigation .bg-nav .first-bg .third:hover {
  background-image: url(../img/copy3.svg);
}

@media (max-width: 1130px) {
  * body .big__container main .produse_part {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  * body .big__container main .bg {
    width: 70%;
  }
  * body .big__container main .cards {
    row-gap: 24px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 960px) {
  * body .container footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  * body .container footer svg {
    margin: 0 auto;
  }
  * body .container footer .footer_navigation {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
  }
  * body .container footer .footer_navigation .mail-call {
    margin-top: 16px;
  }
  * body .container footer .footer_navigation .ul_tags {
    margin-top: 59px;
    display: flex;
    flex-direction: column;
    row-gap: 48.5px;
  }
  * body .container footer .footer_navigation .bg-nav {
    margin: 56px auto;
  }
}
@media (max-width: 760px) {
  * body .big__container header .header_bg {
    background: url(../img/dubl.svg), #1B2330 0px 0px/100% 100% no-repeat;
    max-width: 500px;
    margin: 0 auto;
  }
  * body .big__container header h1 {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }
  * body .big__container header p {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
  * body .big__container main .produse_part {
    flex-direction: column;
  }
  * body .big__container main .produse_part .right-produse h3 {
    color: #FFF;
    text-align: start;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px; /* 133.333% */
  }
  * body .big__container main .produse_part .right-produse .product {
    color: #FFF;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px; /* 150% */
    max-width: 320px;
  }
}
@media (max-width: 620px) {
  * body .big__container main .produse_part .left-produse {
    background-image: url(../img/copy.svg);
    max-width: 370px;
    height: 336px;
    margin-left: -20px;
  }
  * body .big__container main .input_card {
    margin: 0 auto;
    width: 100%;
    max-width: 863px;
    border-radius: 9px;
    background: #1B2330;
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.25);
    padding-top: 42px;
    padding-bottom: 21px;
  }
  * body .big__container main .input_card h3 {
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }
  * body .big__container main .input_card .input_btn {
    display: flex;
    margin: 38px auto;
    max-width: 719px;
    flex-direction: column;
    row-gap: 24px;
  }
  * body .big__container main .input_card .input_btn input {
    max-width: 480px;
    height: 48px;
    padding-left: 38px;
    background: #FFF;
    background: drop-shadow(2px 3px 6px rgba(7, 4, 59, 0.16));
    border-radius: 50px;
  }
  * body .big__container main .input_card .input_btn a {
    text-decoration: none;
  }
  * body .big__container main .input_card .input_btn a button {
    cursor: pointer;
    border: none;
    width: 100%;
    max-width: 480px;
    height: 48px;
    border-radius: 50px;
    background: linear-gradient(130deg, #63E1D9 -26.63%, #34A0CD 100%);
    background: drop-shadow(2px 3px 6px rgba(7, 4, 59, 0.16));
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
  }
  * body .big__container main .input_card .input_btn a button:hover {
    background: #8ADAE3;
    background: drop-shadow(2px 3px 6px rgba(7, 4, 59, 0.16));
  }
}
@media (max-width: 500px) {
  * body .big__container nav .svg img {
    width: 80px;
    height: 24px;
  }
  * body .big__container nav .navigation {
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  * body .big__container nav .navigation a {
    font-size: 12px;
    font-weight: 400;
  }
  * body .big__container nav .navigation a:hover {
    font-size: 12px;
    font-weight: 400;
    text-decoration-line: none;
  }
  * body .big__container header .header_bg {
    background-image: url(../img/illustration_media.svg);
    width: 304px;
    height: 225px;
  }
  * body .big__container header h1 {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px; /* 150% */
  }
}/*# sourceMappingURL=style.css.map */