@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    body{
        background: #1B2330;
        .big__container{
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;
            padding-top: 90px;
            
            nav{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 20px;
                padding-right: 20px;
                .svg{
                    img{
                        width: 176px;
                        height: 52px;
                    }
                }
                .navigation{
                    display: flex;
                    column-gap: 57px;
                    a{
                        color: #FFF;
                        font-family: Raleway;
                        font-size: 16px;
                        font-weight: 400;
                        text-decoration: none;
                        &:hover{
                            color: #FFF;
                            font-family: Raleway;
                            font-size: 16px;
                            font-weight: 700;
                            text-decoration-line: underline;
                        }
                    }

                }
            }
            header{
                display: flex;
                flex-direction: column;
                row-gap: 33px;
                margin: 75px auto;
                max-width: 734px;
                padding-left: 20px;
                padding-right: 20px;
                .header_bg{
                    background: url(../img/illustration_1-01.svg), #1B2330 0px 0px / 100% 100% no-repeat;
                    width: 100%;
                    max-width: 734px;
                    background-repeat: no-repeat;
                    height: 534px;

                }
                h1{
                    color: #FFF;
                    text-align: center;
                    font-family: Raleway;
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 60px; /* 150% */
                }
                p{
                    color: #FFF;
                    text-align: center;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                    max-width: 589px;
                    margin: 0 auto;
                }
                a{
                    margin: 0 auto;
                    text-decoration: none;
                    button{
                        width: 280px;
                        height: 56px;
                        padding: 19px 95px;
                        background: linear-gradient(138deg, #63E1D9 -49.34%, #34A0CD 100%);
                        background: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.16));
                        border:none ;
                        border-radius:140px;
                        color: #FFF;
                        font-family: Raleway;
                        font-size: 16px;
                        font-weight: 700;
                        cursor: pointer;
                        &:hover{
                            background:  #8ADAE3;
                            background: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.16));
                        }
                    }
                }
            }
            main{
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 1330px;
                padding-left: 20px;
                padding-right: 20xp; 
                .min_cards{
                    width: 100%;
                    max-width: 880px; 
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 140px;  
                    row-gap: 79px;  
                    .mobile-card{
                        display: flex;
                        flex-direction: column;
                        margin:  0 auto;
                        .min-svg{
                            margin: 0 auto;
                        }
                        h3{
                            color: #FFF;
                            text-align: center;
                            font-family: Raleway;
                            font-size: 20px;
                            font-weight: 700;
                        }
                        p{
                            margin-top: 8px;
                            color: #FFF;
                            text-align: center;
                            font-family: Open Sans;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 21px; 
                            max-width: 349px;
                        }
                        .first{
                            max-width: 384px;
                        }
                    }               
                }
                .produse_part{
                    margin-top: 137px;
                    display: flex;
                    justify-content: space-between;
                    column-gap: 10xp;
                    align-items: center;
                    .left-produse{
                        background: url(../img/bg.svg), #1B2330 0px 0px / 100% 100% no-repeat;
                        width: 615px;
                        height: 463px;
                        background-repeat: no-repeat;
                    }
                    .right-produse{
                        display: flex;
                        flex-direction: column;
                        h3{
                            color: #FFF;
                            font-family: Raleway;
                            font-size: 40px;
                            font-weight: 700;
                            line-height: 50px; /* 125% */
                            max-width: 406px;
                        }
                        .product{
                            margin-top: 19px;
                            color: #FFF;
                            font-family: Open Sans;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px; /* 150% */
                            max-width: 563px;
                        }
                        .both{
                            display: flex;
                            flex-direction: column;
                            max-width: 175px;
                            justify-content: center;
                            &:hover{
                                cursor: pointer;
                                .a_tags{
                                    display: flex;
                                    align-items: center;
                                    column-gap: 8px;
                                    margin-top: 24px;
                                    margin-bottom: 4px;
        
                                    a{
                                        color: #fff;
                                        font-family: Open Sans;
                                        font-size: 16px;
                                        font-weight: 400;
                                        text-decoration-line: none;
                                    }
                                    .svg{
                                        background-image: url(../img/Group\ 10.svg);
                                        width: 17px;
                                        height: 17px;
                                        background-repeat: no-repeat;    
                                    }
                                }
                                .a_line{
                                    width: 166px;
                                    height: 1px;
                                    background: #fff;
                                }
                            }
                            .a_tags{
                                display: flex;
                                align-items: center;
                                column-gap: 8px;
                                margin-top: 24px;
                                margin-bottom: 4px;
    
                                a{
                                    color: #62E0D9;
                                    font-family: Open Sans;
                                    font-size: 16px;
                                    font-weight: 400;
                                    text-decoration-line: none;
                                }
                                
                                .svg{
                                    background-image: url(../img/strelka.svg);
                                    width: 17px;
                                    height: 17px;
                                    background-repeat: no-repeat;
                                }
                            }
                            .a_line{
                                width: 166px;
                                height: 1px;
                                background: #62E0D9;
                            }
                        }
                    }
                }
                .bg{
                    margin-top: 120px;
                    width: 90%;
                    .bg-card{
                        background-image: url(../img/“\ copy.svg);
                        width: 55px;
                        height: 40px;
                        background-position:  left;
                    }
                }
                .cards{
                    transform: translatey(-130px);
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 100%;
                    max-width: 1160px;
                    margin-top: 120px;
                    .card{
                        max-width: 360px;
                        height: 200px;
                        border-radius: 3.933px;
                        background: #202A3C;
                        box-shadow: 5px 5px 8px 4px rgba(56, 56, 56, 0.10);
                        padding: 40px 24px 26px 25px ;
                        p{
                            color: #FFF;
                            font-family: Open Sans;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 21px; /* 150% */
                            letter-spacing: 0.5px;
                        }
                        .direction-bg{
                            margin-top: 24px;
                            display: flex;
                            column-gap:8px;
                            .ps{
                                display: flex;
                                flex-direction: column;
                                row-gap: 4px;
                                p{
                                    color: #FFF;
                                    font-family: Open Sans;
                                    font-size: 10px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 12px; /* 120% */
                                    letter-spacing: 0.5px;
                                }
                                .seo{
                                    color: #FFF;
                                    font-family: Open Sans;
                                    font-size: 7px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 10px; /* 142.857% */
                                    letter-spacing: 0.5px;
                                }
                            }
                        }
                    }
                }
                .input_card{
                    margin: 0 auto;
                    width: 100%;
                    max-width: 863px;
                    border-radius: 9px;
                    background: #1B2330;
                    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.25);
                    padding-top: 42px;
                    padding-bottom: 41px;
                    padding-left: 20px;
                    padding-right: 20px;
                    h3{
                        text-align: center;
                        color: #FFF;
                        font-family: Raleway;
                        font-size: 32px;
                        font-weight: 700;
                        line-height: 48px; 
                    }
                    p{
                        margin: 16px auto;
                        max-width: 673px;
                        color: #FFF;
                        text-align: center;
                        font-family: Open Sans;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 21px; 
                    }
                    .input_btn{
                        display: flex;
                        margin: 38px auto;
                        max-width: 719px;
                        justify-content: space-between;
                        input{
                            width: 100%;
                            max-width: 480px;
                            height: 48px;
                            padding-left: 38px;
                            background: #FFF;
                            background: drop-shadow(2px 3px 6px rgba(7, 4, 59, 0.16));
                            border-radius: 50px;
                        }
                        a{
                            text-decoration: none;
                            button{
                                cursor: pointer;
                                border:none;
                                width: 200px;
                                height: 48px;
                                border-radius:50px;
                                background: linear-gradient(130deg, #63E1D9 -26.63%, #34A0CD 100%);
                                background: drop-shadow(2px 3px 6px rgba(7, 4, 59, 0.16));
                                color: #FFF;
                                text-align: center;
                                font-family: Raleway;
                                font-size: 14px;
                                font-weight: 700;
                                &:hover{
                                    background: #8ADAE3;
                                    background:  drop-shadow(2px 3px 6px rgba(7, 4, 59, 0.16));
                                }
                            }
                        }
                    }
                }
            }
        }
        .container{
            margin-top: -160px;
            width: 100%;
            background: #0B1524;
            // padding: 169px 82px 53px 120px;
            padding-top: 169px;
            padding-bottom: 53px;
            footer{
                width: 100%;
                max-width: 1440px;
                margin: 53px auto;
                svg{
                    margin-bottom: 52px;
                }
                .footer_navigation{
                    display: flex;
                    justify-content: space-between;
                    column-gap: 15px;
                    .location{
                        display: flex;
                        column-gap: 16px;
                        img{
                            width: 24px;
                            height: 24px;
                            flex-shrink: 0;
                        }
                        p{
                            max-width: 339px;
                            color: #FFF;
                            font-family: Open Sans;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px; /* 150% */
                        }
                    }
                    .mail-call{
                        display: flex;
                        flex-direction: column;
                        row-gap: 16px;
                        align-items: flex-start;
                        .call{
                            display: flex;
                            column-gap:23.5px;
                            p{
                                height: 21px;
                                color: #FFF;
                                text-align: center;
                                font-family: Open Sans;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 21px; 
                            }
                        }
                    }
                    .ul_tags{
                        display: flex;
                        column-gap:80px;
                        ul{
                            display: flex;
                            flex-direction: column;
                            row-gap: 16px;
                            li{
                                list-style-type: none;
                                a{
                                    text-decoration: none;
                                    color: #FFF;
                                    font-family: Open Sans;
                                    font-size: 16px;
                                    font-weight: 400;
                                    &:hover{
                                        color: #FFF;
                                        font-family: Open Sans;
                                        font-size: 16px;
                                        font-weight: 700;
                                    }
                                }
                            }
                        }
                    }
                    .bg-nav{
                        display: flex;
                        column-gap: 12.49px;
                        .first-bg{
                            width: 31.224px;
                            height: 31px;
                            flex-shrink: 0;
                            border-radius: 50px;
                            border:1px solid #DFE4F0;
                            &:hover{
                                border:1px solid #62E0D9;
                            }
                            .first{
                                background-image: url(../img/Object.png);
                                width: 30.025px;
                                height: 30.725px;
                                flex-shrink: 0;
                                &:hover{
                                    background-image: url(../img/copy1.svg); 
                                }
                            }
                            .seecond{
                                background-image: url(../img/Object3.svg);
                                width: 30.025px;
                                height: 30.725px;
                                flex-shrink: 0;
                                &:hover{
                                    background-image: url(../img/copy2.svg);
                                }
                            }
                            .third{
                                background-image: url(../img/Object2.svg);
                                width: 30.025px;
                                height: 30.725px;
                                flex-shrink: 0;
                                &:hover{
                                    background-image: url(../img/copy3.svg);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:1130px){
    *{
        body{
            .big__container{
                main{
                    .produse_part{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    .bg{
                        width: 70%;
                        .bg-card{

                        }

                    }
                    .cards{
                        row-gap: 24px;
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}
@media(max-width:960px){
    *{
        body{
            .container{
                footer{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-left: 20px;
                    padding-right: 20px;
                    .footer_navigation{
                        margin-top: 35px;
                        display: flex;
                        flex-direction: column;
                        row-gap: 10px;
                        align-items: flex-start;
                        .mail-call{
                            margin-top: 16px;
                        }
                        .ul_tags{
                            margin-top: 59px;
                            display: flex;
                            flex-direction: column ;
                            row-gap: 48.5px;
                        }
                        .bg-nav{
                            margin: 56px auto; 
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:760px){
    *{
        body{
            .big__container{
                header{
                    
                    .header_bg{
                        background: url(../img/dubl.svg), #1B2330 0px 0px / 100% 100% no-repeat;
                        max-width:500px;
                        margin: 0 auto;
    
                    }
                    h1{
                        color: #FFF;
                        text-align: center;
                        font-family: Raleway;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 36px; 
                    }
                    p{
                        color: #FFF;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 21px; 
                    }
                }
                main{
                    .produse_part{
                        flex-direction: column;
                        .right-produse{
                            h3{
                                color: #FFF;
                                text-align: start;
                                font-family: Raleway;
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 22px; /* 133.333% */
                            }
                            .product{
                                color: #FFF;
                                font-family: Open Sans;
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 19px; /* 150% */
                                max-width: 320px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:620px){
    *{
        body{
            .big__container{
                main{
                    .produse_part{
                        .left-produse{
                            background-image: url(../img/copy.svg);
                            max-width: 370px;
                            height: 336px;
                            margin-left: -20px;
                        }
                    }
                    .input_card{
                        margin: 0 auto;
                        width: 100%;
                        max-width: 863px;
                        border-radius: 9px;
                        background: #1B2330;
                        box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.25);
                        padding-top: 42px;
                        padding-bottom: 21px;
                        h3{
                            text-align: center;
                            color: #FFF;
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 24px; 
                        }
                        .input_btn{
                            display: flex;
                            margin: 38px auto;
                            max-width: 719px;
                            flex-direction: column;
                            row-gap: 24px;
                            input{
                                max-width: 480px;
                                height: 48px;
                                padding-left: 38px;
                                background: #FFF;
                                background: drop-shadow(2px 3px 6px rgba(7, 4, 59, 0.16));
                                border-radius: 50px;
                            }
                            a{
                                text-decoration: none;
                                button{
                                    cursor: pointer;
                                    border:none;
                                    width: 100%;
                                    max-width: 480px;
                                    height: 48px;
                                    border-radius:50px;
                                    background: linear-gradient(130deg, #63E1D9 -26.63%, #34A0CD 100%);
                                    background: drop-shadow(2px 3px 6px rgba(7, 4, 59, 0.16));
                                    color: #FFF;
                                    text-align: center;
                                    font-family: Raleway;
                                    font-size: 14px;
                                    font-weight: 700;
                                    &:hover{
                                        background: #8ADAE3;
                                        background:  drop-shadow(2px 3px 6px rgba(7, 4, 59, 0.16));
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:500px){
    *{
        body{
            .big__container{
                nav{
                    .svg{
                        img{
                            width: 80px;
                            height: 24px;
                        }
                    }
                    .navigation{
                        column-gap: 24px;
                        a{
                            font-size: 12px;
                            font-weight: 400;
                            &:hover{
                                font-size: 12px;
                                font-weight: 400;
                                text-decoration-line:none;
                            }
                        }
                    }
                }
                header{
                    .header_bg{
                        background-image: url(../img/illustration_media.svg);
                        width: 304px;
                        height: 225px;
                    }
                    h1{
                        color: #FFF;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 36px; /* 150% */
                    }
                }
            }
        }
    }
}