@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    body{
        background: #1B2330;
        .big__container{
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;
            padding-top: 90px;
            
            nav{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 20px;
                padding-right: 20px;
                .svg{
                    img{
                        width: 176px;
                        height: 52px;
                    }
                }
                .navigation{
                    display: flex;
                    column-gap: 57px;
                    a{
                        color: #FFF;
                        font-family: Raleway;
                        font-size: 16px;
                        font-weight: 400;
                        text-decoration: none;
                        &:hover{
                            color: #FFF;
                            font-family: Raleway;
                            font-size: 16px;
                            font-weight: 700;
                            text-decoration-line: underline;
                        }
                    }

                }
            }
            header{
                display: flex;
                flex-direction: column;
                row-gap: 33px;
                margin: 75px auto;
                max-width: 734px;
                padding-left: 20px;
                padding-right: 20px;
                .header_bg{
                    background: url(../img/illustration_1-01.svg), #1B2330 0px 0px / 100% 100% no-repeat;
                    width: 100%;
                    max-width: 734px;
                    background-repeat: no-repeat;
                    height: 534px;

                }
                h1{
                    color: #FFF;
                    text-align: center;
                    font-family: Raleway;
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 60px; /* 150% */
                }
                p{
                    color: #FFF;
                    text-align: center;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                    max-width: 589px;
                    margin: 0 auto;
                }
                a{
                    margin: 0 auto;
                    text-decoration: none;
                    button{
                        width: 280px;
                        height: 56px;
                        padding: 19px 95px;
                        background: linear-gradient(138deg, #63E1D9 -49.34%, #34A0CD 100%);
                        background: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.16));
                        border:none ;
                        border-radius:140px;
                        color: #FFF;
                        font-family: Raleway;
                        font-size: 16px;
                        font-weight: 700;
                        cursor: pointer;
                        &:hover{
                            background:  #8ADAE3;
                            background: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.16));
                        }
                    }
                }
            }
            main{
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 1330px;
                margin: 0 auto;
                padding-left: 20px;
                padding-right: 20xp;    
                .min_cards{
                    width: 100%;
                    max-width: 880px; 
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 140px;  
                    row-gap: 79px;  
                    .mobile-card{
                        display: flex;
                        flex-direction: column;
                        margin:  0 auto;
                        .min-svg{
                            margin: 0 auto;
                        }
                        h3{
                            color: #FFF;
                            text-align: center;
                            font-family: Raleway;
                            font-size: 20px;
                            font-weight: 700;
                        }
                        p{
                            margin-top: 8px;
                            color: #FFF;
                            text-align: center;
                            font-family: Open Sans;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 21px; 
                            max-width: 349px;
                        }
                        .first{
                            max-width: 384px;
                        }
                    }               
                }
                .produse_part{
                    margin-top: 137px;
                    display: flex;
                    justify-content: space-between;
                    column-gap: 10xp;
                    align-items: center;
                    .left-produse{
                        background: url(../img/bg.svg), #1B2330 0px 0px / 100% 100% no-repeat;
                        // width: 100%;
                        width: 615px;
                        height: 463px;
                        background-repeat: no-repeat;
                    }
                    .right-produse{
                        display: flex;
                        flex-direction: column;
                        h3{
                            color: #FFF;
                            font-family: Raleway;
                            font-size: 40px;
                            font-weight: 700;
                            line-height: 50px; /* 125% */
                            max-width: 406px;
                        }
                        .product{
                            margin-top: 19px;
                            color: #FFF;
                            font-family: Open Sans;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px; /* 150% */
                            max-width: 563px;
                        }
                        .a_tags{
                            display: flex;
                            align-items: center;
                            column-gap: 8px;
                            margin-top: 24px;
                            margin-bottom: 4px;

                            a{
                                color: #62E0D9;
                                font-family: Open Sans;
                                font-size: 16px;
                                font-weight: 400;
                                text-decoration-line: none;
                            }
                            svg{
                                cursor: pointer;
                            }
                        }
                        .a_line{
                            width: 166px;
                            height: 1px;
                            background: #62E0D9;
                        }
                    }
                }
            }
        }
    }
}








@media (max-width:1130px){
    *{
        body{
            .big__container{
                main{
                    .produse_part{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
        }
    }
}






@media (max-width:760px){
    *{
        body{
            .big__container{
                header{
                    
                    .header_bg{
                        background: url(../img/dubl.svg), #1B2330 0px 0px / 100% 100% no-repeat;
                        max-width:500px;
                        margin: 0 auto;
    
                    }
                    h1{
                        color: #FFF;
                        text-align: center;
                        font-family: Raleway;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 36px; 
                    }
                    p{
                        color: #FFF;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 21px; 
                    }
                }
                main{
                    .produse_part{
                        flex-direction: column;
                        .right-produse{
                            h3{
                                color: #FFF;
                                text-align: start;
                                font-family: Raleway;
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 22px; /* 133.333% */
                            }
                            .product{
                                color: #FFF;
                                font-family: Open Sans;
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 19px; /* 150% */
                                max-width: 320px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:620px){
    *{
        body{
            .big__container{
                main{
                    .produse_part{
                        .left-produse{
                            background-image: url(../img/copy.svg);
                            max-width: 370px;
                            height: 336px;
                            margin-left: -20px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:500px){
    *{
        body{
            .big__container{
                nav{
                    .svg{
                        img{
                            width: 80px;
                            height: 24px;
                        }
                    }
                    .navigation{
                        column-gap: 24px;
                        a{
                            font-size: 12px;
                            font-weight: 400;
                            &:hover{
                                font-size: 12px;
                                font-weight: 400;
                                text-decoration-line:none;
                            }
                        }
                    }
                }
                header{
                    .header_bg{
                        background-image: url(../img/illustration_media.svg);
                        width: 304px;
                        height: 225px;
                    }
                    h1{
                        color: #FFF;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 36px; /* 150% */
                    }
                }
            }
        }
    }
}